SMClient/Connected Services/ServiceReference2/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51895/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51895/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51895/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IService_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudent" />
  </wsdl:message>
  <wsdl:message name="IService_EditStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNewStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStudent" />
  </wsdl:message>
  <wsdl:message name="IService_GetNewStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStudentInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentInfo" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStudentInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddStudent" message="tns:IService_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddStudentResponse" message="tns:IService_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditStudent" message="tns:IService_EditStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditStudentResponse" message="tns:IService_EditStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNewStudent" message="tns:IService_GetNewStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNewStudentResponse" message="tns:IService_GetNewStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStudentInfo" message="tns:IService_UpdateStudentInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStudentInfoResponse" message="tns:IService_UpdateStudentInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IService/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/IService/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewStudent">
      <soap:operation soapAction="http://tempuri.org/IService/GetNewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentInfo">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:51895/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>